<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="senderEmail" value="aamir@gcu.com"/>
    <add key="senderName" value="Aamir Sharif"/>
  </appSettings>
  <connectionStrings>
    <add name="GCUTournaments" connectionString="Server =.;Database=GCUTournaments;Trusted_Connection=True;" providerName= "System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <!--<network host="smtp.gmail.com" userName="" password="" port="587" enableSsl="true"/>-->
        <network host="127.0.0.1" userName="Aamir" password="test" port="25" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>